.searchbar-input {
    border-radius: 10px !important;
    box-shadow: 0px 15px 15px -15px #111 !important;
    color: #000 !important;
  }
  .sc-ion-searchbar-ios {
    border-radius: 10px !important;
  }