<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="background">

  
    <h1 class="ion-text-center logo" >Babies Foundation</h1>
    <p class="ion-text-center slogo">Simple Seed Busyness</p>
</div>
<div class="ion-padding">
<div class="maincontentcenter">
  <h2>Sign-Up</h2>
  <br>
  <ion-item>
    <ion-label position="stacked">Username</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input [(ngModel)]="password"></ion-input>
  </ion-item>
  <br>
  <br>
<ion-button expand="block" color="tertiary" shape="round" (click)="Signup()">Sign-Up</ion-button>
<p class="ion-text-center" >or</p>
<ion-button expand="block" shape="round" color="tertiary" fill="outline" (click)="login()">Login</ion-button>
<!-- <ion-button expand="block"  slot="end" color="tertiary" fill="clear">Forgot Password</ion-button> -->

</div>
</div>

</ion-content>
